body {
    background-color: #47dab5;
}

.stickyContainer {
    position: sticky;
    top: 50px;
    width: 400%;
}

h1 {
    position: sticky;
    left: 200px;
    top: 50px;
    width: 200px;
}

.backgroundMountains {
    position: relative;
    padding-top: 100px;
    width: 6000px;
}

.checkpoint {
    position: absolute;
    background-color: red;
    width: 40px;
    height: 2px;
}

#climber {
    width: 40px;
    height: 70px;
    /* transition: transform 3s linear;
    transform: rotate3d(0, 1, 1, -75deg); */
}

/* #flag {
    visibility: visible;
} */

.flag {
    position: absolute;
    content: '';
    background-image: url('../img/win.gif');
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    bottom: -6px;
    left: 2px;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

.one {
    bottom: 262px;
    left: 507px;
}

.two {
    bottom: 510px;
    left: 732px;
}

.three {
    bottom: 722px;
    left: 918px;
}

.four {
    bottom: 852px;
    left: 1509px;
}

.five {
    bottom: 1113px;
    left: 1776px;
}

/* .five:before {
    content: '';
    background-image: url('../img/win.gif');
    position: absolute;
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    bottom: -6px;
    left: 2px;
    visibility: hidden;
} */

.six {
    left: 2120px;
    bottom: 885px;
}

.seven {
    left: 2623px;
    bottom: 615px;
}

.eight {
    bottom: 750px;
    left: 2800px;
}

.nine {
    left: 2900px;
    bottom: 900px;
}

.ten {
    left: 3077px;
    bottom: 1175px;
}

.text1 {
    position: absolute;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    z-index: 1;
    background-color: white;
    width: 300px;
    height: 45px;
    text-align: center;
    padding-top: 5px;
    bottom: 50px;
    left: 50px;
    visibility: hidden;
}

.text2 {
    position: absolute;
    z-index: 1;
    padding: 0;
    margin: 0;
    border-radius: 8px;
    z-index: 1;
    background-color: white;
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    bottom: 50px;
    left: 50px;
    visibility: hidden;
}